<!-- 1 Day = 86400 -->
<!-- Fetch posts -->
{% assign current_date = 'now' | date: '%Y-%m-%d' %}
{% assign current_timestamp = current_date | date: '%s' %}
{% assign seven_days_ago_timestamp = current_timestamp | minus: 604800 %}
{% assign seven_days_ago = seven_days_ago_timestamp | date: '%Y-%m-%d' %}
{% assign ten_days_ago_timestamp = current_timestamp | minus: 864000 %}
{% assign ten_days_ago = ten_days_ago_timestamp | date: '%Y-%m-%d' %}

<!-- Fetch posts -->
{% connected_content https://www.cfl.ca/wp-json/wp/v2/posts?tags=36479&per_page=3&order=desc&orderby=date :save cfl_result :raise_for_status %}

<!-- Main Content -->
<div class="content-container" style="font-family: Helvetica,Arial,sans-serif;">
  <!-- API Status Check -->
  {% if cfl_result.status_code == success %}
    <!-- Check if posts are available -->
    {% if cfl_result.size > 0 %}
      <!-- New Grid Container -->
      <table style="margin:0 auto;" width="460" cellpadding="0" cellspacing="10">
        {% assign counter = 0 %}
          <!-- Loop through each post -->
          {% for post in cfl_result %}
          <tr>
            <td style="text-align:left;width: 225px; vertical-align: top; padding: 8px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); border: 1px solid #f0f0f0; border-radius: 5px;">
              <!-- Featured Image -->
              <a href="{{ post.link | strip_html }}?lid={{${cblid} | lid: 'is0e962aqft0'}}&utm_cta=re-watch-image"><img width="460" src="{{ post.yoast_head_json.og_image[0].url | default: 'https://braze-images.com/appboy/communication/assets/image_assets/images/65c52771201ea7004c784f7a/original.jpg?1707419505' }}" alt="Featured Image" style="width: 460px;"></a>
              <!-- Fetch and Display Tags -->
                <p style="font-family: Khand, Roboto, Helvetica, Arial, sans-serif; font-size: 14px; color: #777; line-height: 1.5;">
                    <span style="color: white; background-color: #b5262f; padding: 5px; font-weight: 600; white-space: nowrap;">RE-WATCH ON CFL+</span>
                </p>
                                                            <!-- Post Title -->
              <a style="text-decoration:none;" href="{{ post.link | strip_html }}?lid={{${cblid} | lid: 'kc42x2y79qwf'}}&utm_cta=re-watch-title"><h1 style="font-size:30px;color:#2d2d2d; font-family: Khand, Roboto, Helvetica, Arial, sans-serif; text-decoration:none;margin:0 auto;">{{ post.title.rendered | strip_html | upcase }}</h1></a>
              <!-- Calculate Time Difference -->
              {% assign post_date_gmt = post.date_gmt | date: "%s" %}
              {% assign current_date_gmt = "now" | date: "%s" %}
              {% assign time_difference = current_date_gmt | minus: post_date_gmt %}
              {% assign hours_ago = time_difference | divided_by: 3600 %}
              <!-- Fetch and Display Author Information -->
              {% connected_content https://www.cfl.ca/wp-json/wp/v2/users/{{ post.author }} :save author_result  :cache_max_age 3600 %}
                    {% if author_result.name %}
                      <span style="font-family: Hind, Roboto, Helvetica, Arial, sans-serif; text-decoration: none; font-size: 14px; color: #777;">
                        <!-- Time Formatting -->
                        {% if hours_ago < 1 %} 
                          LESS THAN 1 HOUR AGO 
                        {% elsif hours_ago < 2 %} 
                          {{ hours_ago }} HOUR AGO 
                        {% elsif hours_ago >= 2 and hours_ago < 24 %} 
                          {{ hours_ago }} HOURS AGO 
                        {% elsif hours_ago >= 24 and hours_ago < 48 %} 
                          YESTERDAY 
                        {% else %} 
                          {{ post.date_gmt | date: '%B, %-d, %Y' | upcase }} 
                     {% endif %}
                        |
                        <!-- Author Name -->
                        {% if author_result.name == 'Staff' %} 
                          CFL STAFF
                        {% else %} 
                          {{ author_result.name | upcase | strip_html}} 
                        {% endif %}
                      </span>
              {% endif %}
              <!-- Post Excerpt -->
              {% capture full_text %}{{ post.excerpt.rendered | strip_html }}{% endcapture %}
              {% assign truncated_text = "" %}
              {% assign in_cfl_ca = false %}
              {% for char in full_text %}
                {% if in_cfl_ca %}
                  {% if char == 'a' %}
                    {% assign in_cfl_ca = false %}
                  {% endif %}
                {% else %}
                  {% if char == 'c' %}
                    {% assign in_cfl_ca = true %}
                  {% endif %}
                {% endif %}
                {% capture truncated_text %}{{ truncated_text }}{{ char }}{% endcapture %}
                {% if char == '.' and in_cfl_ca == false %}
                  {% break %}
                {% endif %}
              {% endfor %}
              <p style="font-size: 14px; font-family: Hind, Roboto, Helvetica, Arial, sans-serif;line-height:1.5;">{{ truncated_text }}</p>
              <!-- Re-Watch Button -->
              <a href="{{ post.link | strip_html }}?lid={{${cblid} | lid: 'fni82y2zkmir'}}&utm_cta=re-watch-button" style="font-family: Khand, Roboto, Helvetica, Segoe UI, Arial, sans-serif; font-size: 18px; color: #b5262f; text-decoration: none; text-transform: uppercase; font-weight: 600;">RE-WATCH NOW</a>
            </td>
            {% assign counter = counter | plus: 1 %}
          {% endfor %}
        </tr>
      </table>
    {% else %}
      <!-- If No Posts Are Found -->
    {% endif %}
  {% else %}
    <!-- API Error Handling -->
  {% endif %}
</div>
